.aboutContainer {
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 10%;
}

.aboutImage {
    height: 35rem;
    overflow: hidden;
    object-fit: fill;
    display: grid;
    place-items: center;
    opacity: 0;
    animation: animImg 2s ease forwards;
}

@keyframes animImg {
    to {
        opacity: 1;
    }
}

.aboutContent p {
    margin-top: 0.8rem;
}

.aboutCta {
    display: inline-block;
    margin-top: 2.5rem;
}

@media screen and (max-width: 600px) {
    .aboutContainer {
        grid-template-columns: 1fr;
        gap: 2.5rem;
    }
}







